<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Job Searcher</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <section class="section">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">Search Job</a>
          <a class="navbar-item" href="/add_job">Add Job</a>
        </div>
      </nav>
    </section>

    <section class="section">
      <div class="container">
        <div class="is-primary has-text-centered">
          <p class="title">Add Job Listing</p>
          <p class="subtitle">
            Quickly add a listing and get recommended job categories
          </p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <form id="addJobForm" class="box">
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input
                class="input"
                type="text"
                name="title"
                placeholder="Job Title"
                required
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea
                class="textarea"
                name="description"
                placeholder="Job Description"
                required
              ></textarea>
            </div>
          </div>
          <div class="field">
            <label class="label">Salary</label>
            <div class="control">
              <input
                class="input"
                type="number"
                name="salary"
                placeholder="Salary"
                required
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Location</label>
            <div class="control">
              <input
                class="input"
                type="text"
                name="location"
                placeholder="Location"
                required
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Contract Type</label>
            <div class="control">
              <div class="select">
                <select name="contract_type" required>
                  <option value="full_time">Full Time</option>
                  <option value="part_time">Part Time</option>
                  <option value="contract">Contract</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Category</label>
            <div class="control">
              <input
                class="input"
                type="text"
                name="category"
                id="categoryInput"
                placeholder="Category"
                required
              />
              <button
                type="button"
                class="button is-link"
                id="recommendCategoryButton"
              >
                Recommend Category
              </button>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-link">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="section">
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Job Searcher Application</strong> by Nathan Nguyen
            (s3948938). For Assignment 2 (Web-Based App) COSC2820 Advanced
            Programming for Data Science
          </p>
        </div>
      </footer>
    </section>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
