<!-- Add Job Page -->
<!--   1. User enters string -->
<!--   2. Return no. of matched advertisements -->
<!--   3. Return list of matched advertisements (populate table) -->
<!--   4. User can click on advertisement (opens modal) -->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Job Searcher</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <section class="section">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">Search Job</a>
          <a class="navbar-item" href="/add_job">Add Job</a>
        </div>
      </nav>
    </section>

    <section class="section">
      <div class="container">
        <div class="is-primary has-text-centered">
          <p class="title">Search Jobs</p>
          <p class="subtitle">Find your desired job by entering a keyword</p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="field">
          <div class="control">
            <input
              id="searchInput"
              class="input"
              type="text"
              placeholder="Enter job keyword"
            />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button id="searchButton" class="button is-link">Search</button>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <table id="resultsTable" class="table is-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Company</th>
                  <th>Location</th>
                  <th>Contract Type</th>
                  <th>Category</th>
                  <th>Salary</th>
                  <th>Open Date</th>
                  <th>Close Date</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Job Searcher Application</strong> by Nathan Nguyen
            (s3948938). For Assignment 2 (Web-Based App) COSC2820 Advanced
            Programming for Data Science
          </p>
        </div>
      </footer>
    </section>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
